/dist/test/
/dist/umd/
/node_modules/

/npm-debug.log
/yarn-error.log

### XamarinStudio ###
bin/
obj/
*.userprefs

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## .paket
.paket/paket.exe
packages/
*.exe

## .fake
.fake/
build/
FAKE_CACHE_build*.dll